// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
    .md-hide {
        display: none;
    }
    .container {
        padding: 0 1rem;
    }
    .nav-top {
        &__nav-item {
            margin: 0 1rem;
        }
    }
    .primary-nav {
        &__logo-img {
            height: 1.6rem;
        }
        &__nav-list {
            margin: 0;
        }
        &__nav-item {
            margin: 0 0.4rem;
        }
        &__find-pro-btn {
            padding: 0.8rem 0.7rem;
            .btn__icon {
                margin-right: 0.2rem;
            }
        }
    }
    .filters {
        margin: 9.1vw 1rem 0;
        .flex {
            flex-wrap: wrap;
        }
        &__dealer-stats {
            text-align: center;
            flex: 0 0 100%;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid $divider-grey;
        }
        &__divider {
            display: none;
        }

    }
    .dealer {
        flex: 0 0 48.9%;
        margin: 1rem 0.5rem;
        &:nth-child(3n), &:nth-child(3n + 1)  {
            margin: 1rem 0.5rem;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-child(2n+1) {
            margin-left: 0;
        }
    }
}