@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-ExtraBold.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  background-color: white;
  font-family: OpenSans, Arial, Helvetica, Sans-Serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 6vw;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-checkbox {
  position: relative;
  padding-left: 1.8rem;
  display: inline-block;
}

.custom-checkbox__input {
  position: absolute;
  display: none;
}

.custom-checkbox__label {
  cursor: pointer;
  font-size: 0.85rem;
}

.custom-checkbox__label:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0.2rem;
  margin-right: 1rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 1rem;
  height: 1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.custom-checkbox__input:checked ~ .custom-checkbox__label:before {
  width: 1rem;
  height: 1rem;
  width: 0.4rem;
  height: 0.4rem;
  border: 6px solid #216DDF;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  color: #216DDF;
  border: 1px solid #216DDF;
  background-color: transparent;
  border-radius: 3px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.btn__icon {
  height: 1.1rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn__text {
  vertical-align: middle;
}

.nav-top {
  background-color: #083d8c;
  padding: 0.8rem 0;
  width: 100%;
}

.nav-top__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-top__nav-item {
  display: inline-block;
  margin: 0 1.7rem;
}

.nav-top__nav-item:last-child {
  margin-right: 0;
}

.nav-top__link {
  color: white;
  font-size: 0.8rem;
}

.nav-top__link__action-icon {
  height: 0.8rem;
  margin-left: 0.7rem;
}

.primary-nav {
  padding: 1.9rem 0;
  -webkit-box-shadow: 0 5px 2px -2px lightgrey;
          box-shadow: 0 5px 2px -2px lightgrey;
}

.primary-nav__logo-img {
  height: 2rem;
}

.primary-nav__nav-list {
  margin: 0 3.5rem 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
  display: inline-block;
}

.primary-nav__nav-item {
  display: inline-block;
  margin: 0 1.7rem;
}

.primary-nav__link {
  font-weight: 900;
  color: #083d8c;
}

.water-background {
  z-index: -1;
  position: absolute;
  width: 100%;
}

.water-background__img {
  width: 100%;
  height: auto;
}

.filters {
  position: relative;
  background-color: #f6f6f6;
  margin: 9.1vw 6vw 0;
  padding: 1.5rem 0;
  border-radius: 8px;
}

.filters__dealer-stats {
  color: #216DDF;
}

.filters__divider {
  width: 1px;
  height: 2rem;
  margin: 0 1.5rem;
  background-color: grey;
}

.filters__label-text {
  margin-right: 2rem;
}

.filters__options .custom-checkbox {
  margin: 0 1rem;
}
/*# sourceMappingURL=main.css.map */