@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-ExtraBold.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/open-sans/OpenSans-SemiboldItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

body {
  margin: 0;
  background-color: white;
  font-family: OpenSans, Arial, Helvetica, Sans-Serif;
  font-size: 1rem;
  color: #3F3F3F;
}

main {
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 6vw;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-checkbox {
  position: relative;
  padding-left: 1.8rem;
  display: inline-block;
}

.custom-checkbox__input {
  position: absolute;
  display: none;
}

.custom-checkbox__label {
  cursor: pointer;
  font-size: 0.85rem;
}

.custom-checkbox__label:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0.2rem;
  margin-right: 1rem;
  background-color: white;
  border: 1px solid #D8D8D8;
  border-radius: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.custom-checkbox__input:checked ~ .custom-checkbox__label:before {
  width: 0.4rem;
  height: 0.4rem;
  border: 6px solid #216DDF;
}

.custom-radio {
  display: inline-block;
}

.custom-radio__input {
  display: none;
}

.custom-radio__span {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #3F3F3F;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  text-align: center;
  min-width: 4rem;
  font-size: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0.1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.custom-radio__span:first-child {
  margin-left: 0;
}

.custom-radio__span:hover {
  background-color: white;
  border-color: #02C7C6;
}

.custom-radio__input:checked ~ .custom-radio__span {
  background-color: #02C7C6;
  border-color: #016262;
  color: white;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  color: #216DDF;
  border: 1px solid #216DDF;
  background-color: transparent;
  border-radius: 3px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.btn__icon {
  height: 1.1rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.btn__text {
  vertical-align: middle;
}

.btn--teal {
  border-color: #02C7C6;
  color: #083d8c;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  display: inline-block;
}

.form-field {
  font-size: 1rem;
  border: 1px solid #ECECEC;
  display: block;
  padding: 0.5rem 0.75rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-field:focus, .form-field:active, .form-field:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #083d8c;
}

.form-required {
  width: 1.1rem;
  height: 1.1rem;
  background-image: url("/images/circle-form.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.form-group.valid .form-required {
  background-image: url("/images/checkmark-circle.png");
}

.form-optional {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 500;
  color: #b3b3b3;
}

.nav-top {
  background-color: #083d8c;
  padding: 0.8rem 0;
  width: 100%;
}

.nav-top__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-top__nav-item {
  display: inline-block;
  margin: 0 1.7rem;
}

.nav-top__nav-item:last-child {
  margin-right: 0;
}

.nav-top__link {
  color: white;
  font-size: 0.8rem;
}

.nav-top__link-icon {
  height: 0.8rem;
  margin-left: 0.7rem;
}

.primary-nav {
  padding: 1.6rem 0;
  -webkit-box-shadow: 0 5px 2px -2px lightgrey;
          box-shadow: 0 5px 2px -2px lightgrey;
}

.primary-nav__logo-img {
  height: 1.8rem;
}

.primary-nav__nav-list {
  margin: 0 2.75rem 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
  display: inline-block;
}

.primary-nav__nav-item {
  display: inline-block;
  margin: 0 1.7rem;
}

.primary-nav__link {
  font-weight: 900;
  font-size: 1rem;
  color: #083d8c;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.primary-nav__link:hover {
  border-bottom: 2px solid #083d8c;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.water-background {
  z-index: -1;
  position: absolute;
  width: 100%;
}

.water-background__img {
  width: 100%;
  height: auto;
}

.filters {
  position: relative;
  background-color: #f6f6f6;
  margin: 9.1vw 6vw 0;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}

.filters__dealer-stats {
  color: #216DDF;
  font-size: 1.1rem;
}

.filters__divider {
  width: 2px;
  height: 3rem;
  margin: 0 1.5rem;
  background-color: #ECECEC;
}

.filters__label-text {
  margin-right: 2rem;
  font-size: 1.1rem;
}

.filters__options .custom-checkbox {
  margin: 0 1rem;
}

.filters__options .custom-checkbox:last-child {
  margin-right: 0.4rem;
}

.filters__tooltip-icon {
  height: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  position: relative;
  top: 0.1rem;
}

.dealers {
  margin-top: 0.9rem;
}

.dealer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.5%;
          flex: 0 0 32.5%;
  -webkit-box-shadow: 0px 1px 2px 2px lightgrey;
          box-shadow: 0px 1px 2px 2px lightgrey;
  border-radius: 0.5rem;
  margin: 1rem 0.6166665%;
  background-color: white;
}

.dealer:nth-child(3n) {
  margin-right: 0;
}

.dealer:nth-child(3n + 1) {
  margin-left: 0;
}

.dealer__name {
  height: 6.5rem;
}

.dealer__name-text {
  text-align: center;
  font-size: 1.6rem;
  width: 90%;
  line-height: 1.2;
}

.dealer__divider {
  background-color: #ECECEC;
  height: 2px;
  width: 90%;
  margin: 0 auto;
}

.dealer__telephone {
  margin-top: 1.8rem;
}

.dealer__telephone-img {
  height: 1.6rem;
  margin-right: 0.8rem;
}

.dealer__telephone-number {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
}

.dealer__email {
  margin-top: 1.1rem;
  text-align: center;
}

.dealer__email-text {
  display: block;
  font-size: 0.75rem;
}

.dealer__email-btn {
  margin-top: 1.3rem;
}

.dealer__hours {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.dealer__hours span {
  display: block;
  margin: 0.2rem 0;
}

.dealer__certifications {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 2.5rem;
  height: 6rem;
  background-color: #f6f6f6;
}

.dealer__certifications-list {
  width: 90%;
  margin: 0 auto;
}

.dealer__certification {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0.2rem 0;
}

.dealer__certification:nth-child(2n+1) {
  text-align: right;
}

.dealer__certification:nth-child(2n+1) .dealer__certification-text {
  margin-right: 20%;
}

.dealer__certification:nth-child(2n) .dealer__certification-icon {
  margin-left: 20%;
}

.dealer__certification-icon {
  height: 0.8rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.dealer__certification-text {
  font-size: 0.8rem;
  vertical-align: middle;
}

.footer__top {
  background-color: #083d8c;
  text-align: center;
  padding: 2rem 0;
}

.footer__logo {
  height: 1.6rem;
}

.footer__social-media {
  margin-top: 1rem;
}

.footer__connect-text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1.25rem;
}

.footer__social-link {
  margin: 0 0.5rem;
}

.footer__icon {
  height: 1rem;
}

.footer__bottom {
  background-color: #216DDF;
  text-align: center;
  padding: 0.6rem 0;
}

.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.footer__list-item {
  display: inline-block;
  font-size: 0.85rem;
  color: white;
}

.footer__list-item:not(:last-child):after {
  content: "|";
  margin: 0 0.6rem;
}

.footer__link {
  color: white;
}

.modal.show ~ .modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.modal {
  display: none;
  position: fixed;
  width: 38rem;
  max-height: 95vh;
  overflow-y: auto;
  background-color: white;
  top: calc(50% - 95vh/2);
  left: calc(50% - 38rem/2);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal.show {
  display: block;
  -webkit-animation: fadeIn 0.5s, slideInAbove 0.5s;
          animation: fadeIn 0.5s, slideInAbove 0.5s;
}

.modal__header {
  color: white;
  background-color: #083d8c;
  padding: 1.6rem 1.5rem;
}

.modal__subhead-text {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 0.8rem;
}

.modal__header-text {
  font-size: 1.7rem;
}

.modal__close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.75rem;
  font-weight: bold;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  cursor: pointer;
  outline: none;
}

.modal__body {
  padding: 1.25rem 1.5rem;
  background-color: white;
}

.modal__instructions {
  font-size: 0.8rem;
}

.modal__form {
  margin-top: 1.25rem;
  background-color: #f6f6f6;
  padding: 1rem 1rem 0;
}

.modal__form-seperator {
  height: 2px;
  background-color: #ECECEC;
}

.modal__form-submit-wrapper {
  text-align: center;
  padding: 1.9rem 0;
}

.modal__form-submit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__form-submit-btn:disabled:hover, .modal__form-submit-btn:disabled:focus {
  cursor: not-allowed !important;
}

.modal__form-submit-btn:disabled:hover .modal__form-submit-arrow, .modal__form-submit-btn:disabled:focus .modal__form-submit-arrow {
  -webkit-animation: none;
          animation: none;
}

.modal__form-submit-btn:hover, .modal__form-submit-btn:focus {
  outline: none;
}

.modal__form-submit-btn:hover .modal__form-submit-arrow, .modal__form-submit-btn:focus .modal__form-submit-arrow {
  -webkit-animation: bounceRight 1s infinite;
          animation: bounceRight 1s infinite;
}

.modal__form-submit-text {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.modal__form-submit-arrow {
  height: 1rem;
  vertical-align: middle;
}

.modal__footer {
  background-color: #f6f6f6;
  padding: 1.5rem;
  font-size: 0.8rem;
}

@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(0.2rem);
            transform: translateX(0.2rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes bounceRight {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  50% {
    -webkit-transform: translateX(0.2rem);
            transform: translateX(0.2rem);
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInAbove {
  from {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes slideInAbove {
  from {
    -webkit-transform: translateY(-25vh);
            transform: translateY(-25vh);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
/*# sourceMappingURL=main.css.map */